/* General form components and styling that can be reused across different forms
  - base form wrapper
  - fieldset
  - input
  - component styling
*/

@import "settings";

// Form wrapper and structure
.form-wrapper {
  .wrapper {
    max-width: 50%;
    justify-content: center;
  }

  #info-wrapper {
    margin-bottom: 2em;

    > fieldset {
      box-sizing: border-box;
      margin: 1em;
      padding: 1em;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    > fieldset > label {
      margin-top: 1em;
      margin-bottom: 0.5em;
      color: $legend-color;
    }

    > fieldset > input[type="text"],
    > fieldset > input[type="email"],
    > fieldset > input[type="tel"],
    > fieldset > input[type="url"],
    > fieldset > input[type="number"],
    > fieldset > textarea {
      min-width: 90%;
      margin: auto auto 1em auto;
      padding: 0.25em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 6px;
    }

    > fieldset > textarea {
      min-height: 6em;
    }
  }

  legend {
    color: $legend-color;
  }
}

// Radio button styling
.radio-wrapper {
  width: 100%;
  margin-bottom: 1em;
  color: $radio-wrapper-color;

  input[type="radio"] {
    width: 50px;
  }

  label {
    color: black;
    margin-bottom: 2em;
  }
}

// Checkbox styling
.checkbox-wrapper {
  margin-bottom: 1em;

  input[type="checkbox"] {
    margin-right: 0.5em;
  }

  label {
    cursor: pointer;
  }
}

// Optional field styling
span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

// Responsive design for general forms
@media (max-width: 900px) {
  .form-wrapper {
    .wrapper {
      max-width: 75%;
    }

    #info-wrapper {
      max-width: 100%;
      min-width: none;
    }
  }
}

@media (max-width: 600px) {
  .form-wrapper {
    .wrapper {
      max-width: 100%;
    }

    #info-wrapper {
      max-width: 100%;
      min-width: none;

      > fieldset {
        margin: 0px;
        width: 100%;
      }
    }
  }
}
